<div class="modal-header">
  <h4 class="modal-title">Modifier Compétance</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <!-- Form to update employee data -->
  <form (ngSubmit)="addSkill()">
    <!-- Add form fields for updating employee data (e.g., name, email, phone) -->
    <div class="form-group m-2">
      <label for="name">Nom</label>
      <input
        type="text"
        class="form-control"
        id="name"
        [(ngModel)]="skill.skillName"
        name="name"
      />
    </div>
    <!-- Add more form fields as needed -->
    <button type="submit" class="btn btn-primary">Confirmer</button>
  </form>
</div>
