<div class="container mt-4">
    <h2>Gestion Des Modeles</h2>
    <input
      class="form-control col-6 m-2 w-25"
      type="text"
    
      placeholder="Recherche"
    />
  
    <table class="table table-bordered w-100">
      <thead>
        <tr class="text-center">
          <th>ID</th>
          <th>Nom</th>
          <th>Taches</th>
          <th>Competences</th>
          <th></th>
          <th>Actions</th>
          <!-- Add more columns as needed -->
        </tr>
      </thead>
      <tbody>
        <tr class="text-center" *ngFor="let employee of ">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <ng-container class="m-2">
              <!-- Update Button -->
              <button
                
                class="btn mx-2 btn-primary"
              >
                <i class="fas fa-edit"></i> Modifier
              </button>
  
              <!-- Delete Button -->
              <button
                
                class="btn mx-2 btn-danger"
              >
                <i class="fas fa-trash"></i> Supprimer
              </button>
              
              <!-- Add more columns as needed -->
            </ng-container>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  